<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="NameRPA" value="NavegacionPorInstruccionesExternas"/>
		<add key="VersionProject" value="0.1"/>
		<add key="TituloVentana" value="Navegacion Por Instrucciones Externas"/>
		<add key="ChromeExe" value="C:\dobot\VersionChrome\chrome-win64\chrome.exe"/>
		<add key="ChromeDriver" value="C:\dobot\VersionChrome\chromedriver-win64\chromedriver.exe"/>
		<add key="ArchivoConfiguracionesJson" value="C:\dobot\bots\NavegacionPorInstruccionesExternas\Archivos\archivo_configuraciones_navegacion.json" />
		<add key="UrlChromeDescargas" value="chrome://downloads/"/>
		<add key="CarpetaDescargas" value="C:\dobot\bots\NavegacionPorInstruccionesExternas\Archivos\Descargas\"/>
		<add key="EsperaVentanaDescarga" value="120"/>
		<add key="Dominio" value="multienlace.com.co" />
		<add key="VerNavegador" value="true" />

		<add key="DirectoryLogs" value="C:\dobot\logs\NavegacionPorInstruccionesExternas"/>
	</appSettings>
</configuration>